/* line 1, ../components/sass/answers.scss */
.btn-answer {
  margin-top: 10px; }

/* line 4, ../components/sass/answers.scss */
.content-answer {
  margin-top: 10px; }

/* line 7, ../components/sass/answers.scss */
.screen-center {
  margin: 0px auto;
  text-align: center; }
